@font-face {
    font-family: 'acorn';
    src: url('./fonts/acorn.woff') format('woff');
}

@font-face {
    font-family: 'gt';
    src: url('./fonts/gt.woff') format('woff');
}


:root {
    --titleFont: "acorn", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; 
    --bodyFont: "gt", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; 
    --color-white: hsla(0, 0%, 100%, 1); 
    --color-white30: hsla(0, 0%, 100%, .3); 
    --color-rust: hsla(22, 62%, 76%, 1); 
    --color-babyblue: hsla(206, 84%, 86%, 1) ;
    --color-backdrop: hsla(158, 23%, 18%, .7); 
    --color-primary-border: var(--color-white); 
    --color-opaque: hsla(0, 0%, 100%, .5); 
    --color-light-border: rgba(0,0,0,.1); 
    --color-dark-border: rgba(255,255,255,.1); 
    --font-h1: clamp(3.2rem, .5692rem + 8.238vw, 13.75rem); 
    --font-h2: clamp(1.5rem, 1.0982rem + 1.7143vw, 2.8125rem); 
    --font-h3: clamp(1.375rem, 1.1837rem + .8163vw, 2rem);
    --font-h4: clamp(1.375rem, 1.1837rem + .8163vw, 1.6rem);
    --font-h5: clamp(1rem, .9235rem + .3265vw, 1.25rem); 
    --font-h6: clamp(1rem, .9617rem + .1633vw, 1.125rem);
    --font-body: clamp(1rem, .8852rem + .4898vw, 1.375rem); 
    --font-link: clamp(.875rem, .7985rem + .3265vw, 1.125rem);  
    --font-mini: clamp(.875rem, .8367rem + .1633vw, 1rem);
    --font-h2-display: clamp(1.875rem, 1.301rem + 2.449vw, 3.95rem);
    --14px: .875rem;
    --15px: .9375rem;
    --16px: 1rem; 
    --17px: 1.0625rem;
    --18px: 1.125rem;
    --19px: 1.1875rem;
    --20px: 1.25rem;
    --21px: 1.3125rem;
    --24px: 1.5rem;
    --42px: 2.652rem;
    --64px: 4rem;
    --spacing-xxl: max( 130px, calc(130px + (260 - 130) * ((100vw - 375px) / (1600 - 375))) );
    --spacing-xl: max( var(--64px), calc(var(--64px) + (128 - 64) * ((100vw - 375px) / (1600 - 375))) );
    --spacing-l: max( var(--42px), calc(var(--42px) + (84 - 42) * ((100vw - 375px) / (1600 - 375))) );
    --spacing-m: max( var(--24px), calc(var(--24px) + (48 - 24) * ((100vw - 375px) / (1600 - 375))) );
    --spacing-s: max( var(--21px), calc(var(--21px) + (42 - 21) * ((100vw - 375px) / (1600 - 375))) );
    --spacing-xs: max( var(--14px), calc(var(--14px) + (28 - 14) * ((100vw - 375px) / (1600 - 375))) );
    --spacing-xxs: max( calc(var(--14px) / 2), calc((var(--14px) / 2) + (14 - 7) * ((100vw - 375px) / (1600 - 375))) );
    --max-width: 1600px; 
    --shadow-lg: 0px 50px 100px -20px rgba(0, 0, 0, .15); 
    --zindex-nav: 1000; 
    --radius-base: .75rem; 
   
}

.dark:root {
    --color-white30: hsla(220, 20%, 20%, 0.30);
    --color-backdrop: hsla(210, 30%, 10%, 0.7);; 
    --color-primary-border: hsla(210, 20%, 30%, 0.3);
    --color-text-primary: rgb(195, 160, 171); 
    --color-text-secondary: rgb(249, 245, 236); 
    --color-opaque: hsla(210, 20%, 20%, 1); 
    --color-light-border: hsla(238, 21%, 46%, 0.3); 
}

/* GENERAL */

body,
html {
    position: relative;
    font-family: var(--bodyFont);
    font-size: var(--16px);
    background: 
        linear-gradient(to bottom,
            transparent,
            hsla(210, 30%, 10%, 0.9) 70%), 
        linear-gradient(135deg,
            hsla(210, 20%, 15%, 1), 
            hsla(225, 30%, 25%, 1), 
            hsla(340, 25%, 40%, 1), 
            hsla(40, 10%, 70%, 1)); 
        background-attachment: fixed;
        background-size: cover;
    color: var(--color-text-primary);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--titleFont);
    font-weight: 700;
}

p {
    font-size: var(--font-body);
    line-height: 160%;
    color: var(--color-text-secondary);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:focus {
    outline: none;
}



.main-title {
    position: relative;
    padding-top: 6%;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    letter-spacing: -4px;
    text-align: center;
    font-size: var(--font-h1);
    line-height: 100%;
    font-family: 'Acorn';
    font-weight: 700;
    margin-bottom: 3%;
    animation: slideDownAppear .2s ease-out;
}

.main-title-span {
    position: relative;
    z-index: 10;
}

.first-line,
.second-line {
    display: flex;
    justify-content: center;
    position: relative;
}

.star {
    position: absolute;
}

.description {
    padding: 0 var(--16px);
    display: flex;
    justify-content: center;
    position: relative;
}

.description-p {
    text-align: center;
    font-size: var(--font-body);
    --_color: var(--color, var(--color-text-secondary));
    color: var(--_color);
    letter-spacing: -.3px;
    margin: 0;
    max-width: 51ch;
    line-height: 160%;
    animation: slideDownAppear .7s ease-out;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4% 0;
    margin: 0 3%;
    color: var(--color-text-primary);
    animation: slideDownAppear .7s ease-out;
}

/* HEADER */

.header {
    position: fixed;
    justify-self: center;
    z-index: var(--zindex-nav);
    top: 0;
    right: 0;
    left: 0;
    width: fit-content;
    transition: background-color 0.3s ease; 
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--max-width);
    padding: 10px 20px;
    margin: var(--20px) auto 0;
    position: relative;
    z-index: var(--zindex-nav);
    backdrop-filter: blur(8px); 
}

.nav.scrolled {
    background: var(--color-backdrop);
    border-radius: 50px;
}

.nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-li {
    display: flex;
    position: relative;
}

.main-link {
    position: relative;
    margin: 0 5px;
    padding: calc(var(--16px) - 10px) var(--20px);
    font-size: var(--font-link);
    font-weight: 100;
    color: var(--color-white);
    text-decoration: none;
}

.main-link.active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 100%; 
    background-color: var(--color-dark-border);
    border-radius: 20px; 
    z-index: -1;
}

.main-link:hover::before {
    background-color: var(--color-dark-border);
}  /* CHECK TO SEE IF IT DOES SOMETHING */

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 12%;
    padding: 1rem 0;
    font-size: var(--font-link);
    color: var(--color-text-secondary);
}

.footer-name {
    flex: 1;
    text-align: left;
}

.cr-name {
    font-size: 15px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
}

.ft-section {
    text-decoration: none;
    list-style: none;
    margin: 0;
}

.ft-tittle {
    color: var(--color-text-primary);
}

.ft-link {
    text-decoration: none;
    list-style: none;
    padding: calc(var(--16px) - 6px) 0;
    margin: 1rem;
}

.ft-link:hover {
   color: var(--color-text-primary);
}

/* HOME */

.star1 {
    top: 0rem;
    right: 5%;
    transform: translateY(-50%);
}

.star2 {
    bottom: -3.5rem;
    left: 8%;
    transform: translateX(-50%) translateY(50%);
}

.star3 {
    right: 28%;
    transform: translateY(-50%);
}

.animated-icon {
    opacity: 0;
    animation: scaleAppear 1s forwards;
    animation-delay: 0.5s;
}

.cards-content {
    display: flex;
    gap: 3rem;
    width: 100%;
}

.card-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 34rem;
    width: 100%;
    background: var(--color-rust);
    color: var(--color-text-bold);
    border-radius: 64px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-wrap:hover {
    color: var(--color-text-bold);
    transform: scale(1.02);
}

.card1 {
    width: 40%;
    color: hsla(210, 30%, 10%, 0.9);
}

.card2 {
    background: var(--color-babyblue);
    color: hsla(210, 30%, 10%, 0.9);
    width: 60%;
}

.card-info {
    text-align: right;
    padding: 3rem 4rem;
}

.card-info .card-category {
    font-size: var(--15px);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
}

.card-info h2 {
    font-size: var(--font-h2);
    line-height: 130%;
    font-family: var(--titleFont);
    font-weight: 700;
    margin: 0;
}

.card-img-holder {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.card-img-holder img {
    max-width: 80%;
    border-radius: 10px;
    height: auto;
    margin-bottom: 1rem;
}

/* ABOUT */

.profile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 11%;
    padding-right: 6% ;
    gap: 6%;
    animation: slideDownAppear 1s ease-out;
}

.pic-holder {
    flex: 1;
}

.pic-holder img {
    width: 95%;
    height: auto;
    border-top-left-radius: 200px; 
    border-top-right-radius: 200px; 
}

.profile-p {
    flex: 2;
}

.profile-p h2 {
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
    font-size: var(--font-h2-display);
    line-height: 110%;
}

.about-text {
    margin-left: 25%;
    margin-right: 1.8%;
    margin-top: 5%;
}

.about-text p {
    margin-right: 21%;
}

.values {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8%;
    margin: 5%;
    padding-top: 7%;
    padding-bottom: 10%;
    padding-right: 10%;
    padding-left: 10%;
    background: var(--color-white30);
    border-radius: var(--64px);
}

.count {
    font-family: var(--titleFont);
    font-size: var(--42px);
    opacity: 0.5;
}

.value-title {
    font-size: var(--font-h3);
    margin-top: 7%;
    margin-bottom: 0;
}

.more-about {
    display: flex;
    flex-direction: column;
    margin: 2% 30%;
}

.about-images {
    margin: 5%;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    gap: 2%;
}

.about-images .large-img {
    flex-basis: 70%;
}

.about-images .small-img {
    flex-basis: 30%;
}

.about-images img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: var(--18px);
}

/* PROJECTS */

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.project-wrap {
    flex: 1 1 calc(33.333% - 40px);
    display: flex;
    justify-content: center;
}

.project-wrap:hover {
    transform: scale(1.05);
}

.card {
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 0 1px var(--color-light-border);
    background-color: var(--color-white30);
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    gap: 1rem;
    cursor: pointer;
}

.card-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-column:first-child {
    flex: 2;
}

.card-column.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

.card-row {
    margin: 10px 0;
}

.card-row.title {
    font-size: var(--font-h5);
    font-weight: 700;
    color: var(--color-text-primary);
    position: relative;
    display: flex;
}

.card-row.text {
    flex-grow: 1;
    color: var(--color-text-primary);
    font-size: var(--font-link);
    color: var(--color-text-secondary);
    line-height: 140%;
}

.card-row.buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    text-decoration: none;
    background: var(--color-opaque);
    color: var(--color-text-primary);
    border-radius: 15px;
    border: .5px solid var(--color-text-primary);
    padding: 10px 15px;
    cursor: pointer;
}

.btn:hover {
    background: transparent;
}

.card-img {
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--color-light-border);
    height: auto;
    width: 100%;
}

/* NOTES*/

.notes {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 68%;
}

.card-column.img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 100%;
    height: auto;
}

.notes-img {
    border-radius: 50%;
    height: auto;
    width: 45%;
}

.note-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-opaque);
    z-index: 500;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(70px) saturate(1.3);
}

.note-content {
    position: relative;
    margin-top: 10%;
    margin-bottom: 0;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    border-radius: 15px;
    box-shadow: inset 0 0 0 1px var(--color-primary-border), var(--shadow-lg);
    backdrop-filter: blur(70px) saturate(1.3);
}

.close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    color: var(--color-text-primary);
    border: none;
    padding: 10px 13px;
    cursor: pointer;
    border-radius: var(--radius-base);
    backdrop-filter: blur(40px) saturate(1.3);
}

.close-btn:hover {
    background: transparent;
    border: 1px solid var(--color-opaque);
}

.note-text {
    display: none;
    text-align: flex-start;
    padding-top: 3%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

.note-title {
    text-align: center;
    letter-spacing: -2px;
    font-size: var(--font-h2-display);
    color: var(--color-text-secondary);
}

.note-text img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    border-radius: 15px;
}

/* CONTACT */

.contact-form {
    width: 80%;
    justify-content: center;
}

.form {
    box-shadow: 0 0 0 1px var(--color-light-border);
    background-color: var(--color-white30);
    border-radius: 64px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
 }

form div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

label {
    color: var(--color-text-primary);
    margin-top: 0.5rem;
}

input,
textarea {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0.8rem;
    font-family: var(--font-body);
}

.submit {
    font-family: var(--font-body);
    cursor: pointer;
    width: 35%;
    color: var(--color-text-primary);
    border-radius: 15px;
    background-color: var(--color-opaque);;
    border: .5px solid var(--color-text-primary);
    padding: 10px 15px;
    margin-top: 1rem;
}

.submit:hover {
    background: transparent;
}

#responseMessage {
    margin: 2rem;
}

/* ANIMATIONS */


@keyframes scaleAppear {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDownAppear {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* MEDIA QUERIES */

/* Phone */
@media (max-width: 48rem) {

    /* Header */
    .header {
        width: calc(100% - 25px);
        margin: 10px 20px;
    }

    .nav {
        max-width: 100%;
        padding: 10px;
        margin: 1rem;
    }

    .main-link {
        margin: 0;
        padding: .5rem .8rem;
    }

    /* Title */

    .main-title {
        padding-top: 21%;
        letter-spacing: 0px;
    }

    .description-p {
       margin: 16px;
    }

    .animated-icon {
        display: none;
    }

    /* Home */

    .cards-content {
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .card-wrap {
        width: 90%;
        gap: 0;
        height: 20rem;
        border-radius: 24px;
    }

    .card-info {
        padding: 2rem;
    }

    /* Footer */

    .ft-link {
        margin: 0;
    }

    .cr-name {
        font-size: .5rem;
    }

    /* About */

    .profile {
        flex-direction: column;
        margin-top: 2rem;
    }

    .pic-holder img {
        border-radius: 5rem 5rem 0 0;
    }

    .about-text {
        margin: 0;
        padding-left: 11%;
        padding-right: 6%;
    }

    .about-text p {
        margin: 0;
    }

    .values {
        display: flex;
        flex-direction: column;
    }

    .more-about {
        margin: 0;
        padding-left: 11%;
        padding-right: 6%;
    }

    .about-images {
        flex-direction: column;
        gap: 1rem;
    }

/* Notes */

    .notes {
        width: 95%;
    }

    .notes-img {
        width: 90%;
    }

    .contact-form {
        width: 95%;
    }

    .form {
        border-radius: 10px;
        padding: 2rem;
    }

}

/* Tablet */
@media (min-width: 48.0625rem) and (max-width: 64rem) {
    
}